<%= form_for(current_user.userfollowevents.find_by(event: @event),  html: { method: :delete },remote: true, url: userfollowevents_path) do |f| %>
			<div><%= hidden_field_tag :event_id, @event.id %></div>
			<%= f.submit "Not Going", class: "btn" %>
			<% end %>