

<%@price.each do |c| %>

		<% if @users.where(id:c.user_id).first.email %>
		<p>
			<%=@users.where(id:c.user_id).first.email%>
		</p>
			Has A:
		<p>
			<%=c.name %>
		</p>
			Valued at:
		<p>
			$<%=c.price%>
		</p>
		<p>
			They'll be at these events with you:
			<% @result.each do |r|%>
				<%= r.event_name %>
			<% end %>
		</p>



			<% else %>
		<p>
			There aren't any matches for your listing right now. Check back later!
		</p>
		<% end %>
	</p>
<% end %>
	